.ripple {
	border-radius: 50%;
	position: absolute;
	transform: scale(0);
}

.ripple-normal {
	animation: ripple-normal 0.6s;
}

.ripple-centered {
	animation: ripple-centered 0.4s;
}

@keyframes ripple-normal {
	to {
		transform: scale(2.5);
		opacity: 0;
	}
}

@keyframes ripple-centered {
	to {
		transform: scale(1);
		opacity: 0;
	}
}
